.MovieDetail__director,
.MovieDetail__geninderes {
  display: block;
}

.MovieDetail__poster-plot {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.MovieDetail__plot {
  font-size: 1.5em;
}

.MovieDetail__plot-actors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MovieDetail__actors {
  margin-bottom: 0;
}

.MovieDetail__poster {
  margin-right: 2rem;
}

.MovieDetail__meta-info-rated,
.MovieDetail__meta-info-runtime,
.MovieDetail__meta-info-released,
.MovieDetail__meta-info-production {
  display: block;
}

.MovieDetail__showtimes {
  margin-top: 4rem;
}

.MovieDetail__showtime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  border: 1px solid #888;
  border-radius: 5px;
  box-shadow: .5rem .5rem #AAA;
  margin-bottom: 2rem;
}

.MovieDetail__showtime:hover {
  cursor: pointer;
  box-shadow: .5rem .5rem #CCC;
  background-color: #EEE;
}

.MovieDetail__modal-container {
  display: flex;
  justify-content: space-around;
  font-size: 1.3em;
  flex-direction: column;
}

.MovieDetail__modal-showtimes {
  display: flex;
  justify-content: space-around;
  font-size: 1.3em;
}

.MovieDetail__modal-container-button {
  background-color: #6ca3fc;
  color: white;
  padding: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.MovieDetail__modal-concession {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2rem;
}
